@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62,5%;
}

body {
  font-family: 'Karla', sans-serif;
}

body {
  background-color: #0b090a;
  color: #f5f3f4;
  padding: .5rem 1rem;
}

.container {
  margin: .0 auto;
  max-width: 1000px;
  border-radius: .5rem;
  overflow: hidden;
  background-color: #161a1d;
  min-height: calc(100vh - 1rem);
  position: relative;
}

.header {
  background-color: #ba181b;
  padding: 2rem 0;
  text-align: center;
}

.main {
  padding: 0 2rem;
  min-height: 70vh;
}

.add-task__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add-task__headline {
  text-align: center;
}

.add-task__column {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0;
}

.add-task__column--left {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 2rem;
}

.add-task__select {
  color: #161a1d;
  height: 1.8rem;
  font-size: 1.3rem;
}

.add-task__input {
  color: #161a1d;
  height: 1.8rem;
  font-size: 1.3rem;
  padding: 1rem 0;
}

.add-task__input--textarea {
  height: 100%;
}

.add-task__label {
  font-size: 1re;
  cursor: pointer;
}

.add-task__label[for="taskDescription"] {
  margin-bottom: 0.5rem;
}

.tasks {
  margin: 2rem 0;
}

.tasks__task {
  margin-top: .8rem;
  width: 100%;
  background-color: #161a1d;
  border-radius: .5rem;
  overflow: hidden;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 6px 4px rgba(245, 243, 244, 0.26);
  box-shadow: 2px 2px 6px 4px rgba(245, 243, 244, 0.26);
}

.tasks__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  padding-bottom: .5rem;
  background-color: #0b090a;
  padding: .5rem 2rem;
  border-radius: .5rem;
  -webkit-box-shadow: 2px 2px 6px 4px rgba(245, 243, 244, 0.26);
  box-shadow: 2px 2px 6px 4px rgba(245, 243, 244, 0.26);
}

.tasks__main__column {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tasks__main__column--right {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tasks__desc {
  padding-top: .5rem;
  padding: 1rem 2rem;
}

.tasks__prior {
  border-radius: 50%;
  height: 1.4rem;
  width: 1.4em;
  border: outset 0.1rem #f5f3f4;
}

.tasks__date {
  display: block;
  background-color: #161a1d;
  padding: .3rem 1rem;
  border-radius: 1rem;
  border: 1px #f5f3f4 outset;
}

.form-result {
  margin: 1rem 0;
  background-color: #ffd6d0;
  color: #e0110b;
  border: .2rem inset #e0110b;
  padding: 1rem;
}

.form-result__error {
  padding: 1rem 0;
}

.footer {
  background-color: #ba181b;
  text-align: center;
  padding: 1rem 0;
}

.button {
  color: #f5f3f4;
  background-color: #ba181b;
  border: solid 2px #f5f3f4;
  outline: none;
  cursor: pointer;
  display: block;
}

.button:hover {
  background-color: #a4161a;
  color: #ffffff;
  border-color: #ffffff;
}

.button:active {
  background-color: #ffffff;
  color: #a4161a;
  border-color: #a4161a;
}

.button--show-form {
  padding: .5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 1rem;
  margin: 2rem auto 0 auto;
}

.button--send-form {
  padding: .5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 1rem;
  margin: 0 auto;
}

.button--delete {
  padding: .5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: .5rem;
  background-color: #e0110b;
  color: #ffd6d0;
  border-color: #ffd6d0;
}

.button--delete:hover {
  background-color: #ffd6d0;
  color: #e0110b;
  border-color: #e0110b;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=main.css.map */